@use '@/assets/scss/abstracts/_variables' as var;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Ubuntu+Mono&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { font-size: 100%; }

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  color: var.$clr-neutral;
  background-color: #fff;
}

.page-heading {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.component-col {
  display: flex;
  flex-direction: row;

  & + & {
    margin-top: 1.875rem;
  }
}

.component-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;

  & + & {
    margin-left: .5rem;
  }
}

.component-label {
  font-family: 'Ubuntu Mono';
  font-size: .75rem;
  margin-bottom: .5em;
}