$clr-neutral: #090F31;
$clr-neutral-inactive: #9E9E9E;

$clr-default-text: #3F3F3F;
$clr-default-disabled-text: #9E9E9E;
$clr-default-400: #E0E0E0;

$clr-primary-text: #fff;
$clr-primary-400: #3D5AFE;

$clr-secondary-text: #fff;
$clr-secondary-400: #455A64;

$clr-danger-text: #fff;
$clr-danger-400: #D32F2F;

$clr-sidebar-bg: #FAFBFD;